{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<!-- Heading -->
<br>
<br>
<div>
  <img src="../static/aboutbg1.JPG" class="about-heading-body-image" alt="about 2" >
</div>

<!-- Carousel -->
<br>
<br>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 85%; margin: 20px auto;">
  <ol class="carousel-indicators">
    <!-- first to last -->
    <!-- remove last two -->
    <!-- remove second,  -->

    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/carousel/2.jpeg" class="d-block w-100" alt="Detailed working Diagram" style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src="../static/carousel/1.jpeg" class="d-block w-100" alt="Detailed working Diagram" style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src="../static/detailedworking.jpg" class="d-block w-100" alt="Detailed working Diagram" style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src="../static/carousel/3.jpeg" class="d-block w-100" alt="Detailed working Diagram" style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src="../static/carousel/4.jpeg" class="d-block w-100" alt="Detailed working Diagram" style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src="../static/carousel/5.jpeg" class="d-block w-100" alt="Detailed working Diagram" style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src="../static/detailedworking3.jpg.jpg" class="d-block w-100" alt="Detailed working Diagram" style="height: 600px;">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<br>
<!-- Heading and content -->

<br>

    <h2 class="about-headings main-heading" style="font-family: 'Josefin Sans', sans-serif;">Hyperloop – The&nbsp;new transportation technology</h2>
    <br>
    <p class="about-body" style="font-family:'Exo 2', sans-serif;">Hyperloop is a brand new method of transport brought forth by the entrepreneur &amp; billionaire. In the broader term, it is a 5<sup>th</sup> mode of transport. In the past we have been using cars, trains, boats, planes &amp; technically rockets etc.&nbsp;The hyperloop is a high speed transport system in which passengers sit in a pressurized capsule that rides on a cushion of air. The capsule operates in a sealed near vacuum environment. The propulsion system is still to be chosen from a number of options, 2 of which are magnetic levitation or the air pressure similar to that of air hockey table. It’s just a low pressure tube with a pot in it that runs on an air bearings on air skis with an air compressed on the front which takes the high pressure air build up on the nose &amp; pumping through the air skis.</p>

<br>
<br>

    <div class="about-body-image">
      <img src="../static/aboutimg/1.jpg" alt="about 1" style="display: block; margin: 0 auto;" class="animation-of-images">
    </div>

<br>
<br>

<br>
<br>

    <h2 class="about-headings main-heading" style="font-family: 'Josefin Sans', sans-serif;">How fast will the Hyperloop be?</h2>
    <br>
    <p class="about-body" style="font-family:'Exo 2', sans-serif;">The system is proposed to travel at an average speed of 900 kilometers an hour. The top speed is at 1220 kilometers now.</p>

<br>
<br>

    <h2 class="about-headings main-heading" style="font-family: 'Josefin Sans', sans-serif;">The idea of hyperloop</h2>
    <br>
    <p class="about-body" style="font-family:'Exo 2', sans-serif;">So how did the idea come about? Well back in 2012, Elon Musk was at a Pando daily event in Santa Monica California [US]. There he announced to the world about the 5<sup>th</sup> mode of transport. Elon states in another interview that this initial concept came to him when he was stuck in LA traffic which caused him to be 1 hour late for a meeting.</p>

<br>
<br>

    <h2 class="about-headings main-heading" style="font-family: 'Josefin Sans', sans-serif;">Advantages of Hyperloop</h2>
    <br>
    <p class="about-body" style="font-family:'Exo 2', sans-serif;">Theoretically the pods can’t crash. It is much cheaper to build about 1/10 of the cost of the proposed California high speed railway system. In 30 minutes, you can travel from downtown LA to downtown San Francisco. As it is more economically viable to use a supersonic jet. It’s also extremely energy efficient, due to solar power utilization. In fact the hyperloop can generate more power than it consumes as a closed system. Moreover it can also store power so that it would run 24/7 without using batteries. So the whole thing actually act as a power generator.</p>

<br>
<br>

    <h2 class="about-headings main-heading" style="font-family: 'Josefin Sans', sans-serif;">Disadvantages of Hyperloop</h2>
    <br>
    <p class="about-body" style="font-family:'Exo 2', sans-serif;">Some thoughts from the critics – They say that the experience could be frightening because passengers would be in a narrow sealed windowless capsule inside a sealed tunnel. The fast acceleration &amp; noisy vibration could cause motion sickness. It may also have to deal with equipment malfunction, accidents &amp; emergency evacuations. In additions to this the designs could also change in the future for better.</p>

<br>
<br>

    <div class="about-body-image">
      <img src="../static/aboutimg/2.jpg" alt="about 2" style="display: block; margin: 0 auto;" class="animation-of-images">
    </div>

<br>
<br>
<br><br>
<!-- Youtube video -->

    <iframe  width="70%" height="400px" style="display: block; margin: 20px auto;" src="https://www.youtube.com/embed/S5fOWB6SNqs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    <br>
{% endblock %}
