{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!-- <body class="bgdark5"> -->
    <div class="container my-5 p-5 z-depth-1 bgdark1">

        <style>
            .w-200 {
                width: 200px;
            }
            
            .bgdark1 {
                background-color: #190320;
                color: #ddd;
                border: 0.1px solid #bc17f3;
            }
            
            .bgdark2 {
                color: #eec6fc;
            }
            
            .clwhite2 {
                color: #f1dff8;
            }
            
            .text-muted {
                color: #aea5b1 !important;
            }
            
            .yellow-text a{
                color: #f09dac !important;
            }
            
        </style>

        <!--Section: Content-->
        <section class="team-section text-center bgdark2 ">

            <h3 class="font-weight-bold text-center clwhite1 text-uppercase small mb-5" style="font-family: 'Josefin Sans', sans-serif;">Team HyperLoop Lite</h3>
            <!-- Section heading -->
            <h2 class="font-weight-bold text-center clwhite2 pb-2" style="font-family: 'Josefin Sans', sans-serif;">Our Amazing Team</h2>
            <hr class="w-header my-4">
            <!-- Section description -->
            <p class="lead text-center text-muted pt-2 mb-7">
                <h3 style="font-family: 'Josefin Sans', sans-serif;">None of us is as smart as all of us</h3>
            </p>
            <br>
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mb-4">

                    <div class="w-200 mx-auto mb-4">
                        <img src="/static/pradeep.jpeg" class="z-depth-1 rounded-circle img-fluid" alt="smaple image">
                    </div>
                    <h5 class="font-weight-bold" style="font-family: 'Josefin Sans', sans-serif;">Pradeep Bhat M</h5>
                    <small class="text-muted" style="font-family:'Exo 2', sans-serif;">Founder of HyperLoop Lite, BMSCE</small>
                    <br>
                    <small class="text-muted" style="font-family:'Exo 2', sans-serif;">Full Stack Developer</small>
                    <p class="mt-3 mb-4 text-muted" style="font-family:'Exo 2', sans-serif;">“While(alive){ <br>wake_up(); code(); eat(); sleep(); }”</p>
                    <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 yellow-text">
                        <li><a href=""><i class="fab fa-twitter mx-2"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/pradeep-b-44580b111/"><i class="fab fa-linkedin-in mx-2"></i></a></li>
                        <li><a href="https://github.com/Pradee-Bhat-M"><i class="fab fa-github mx-2"></i></i></a></li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-4">

                    <div class="w-200 mx-auto mb-4">
                        <img src="/static/samir1.jpeg"  class="z-depth-1 rounded-circle img-fluid mx-auto" alt="smaple image">
                    </div>
                    <h5 class="font-weight-bold" style="font-family: 'Josefin Sans', sans-serif;">Samir Bilal Memon</h5>
                    <small class="text-muted" style="font-family:'Exo 2', sans-serif;">Foriegn Investor of HyperLoop Lite, BMSCE</small>
                    <br>
                    <small class="text-muted">Full Stack Developer</small>
                    <p class="mt-3 mb-4 text-muted">"Keep calm and love Programming"</p>
                    <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 yellow-text">
                        <li><a href="#"><i class="fab fa-twitter mx-2"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in mx-2"></i></a></li>
                        <li><a href="#"><i class="fab fa-github mx-2"></i></i></a></li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-4">

                    <div class="w-200 mx-auto mb-4">
                        <img src="/static/Likhith.jpeg" class="z-depth-1 rounded-circle img-fluid mx-auto" alt="smaple image">
                    </div>
                    <h5 class="font-weight-bold" style="font-family: 'Josefin Sans', sans-serif;">Likhith H Ramesha</h5>
                    <small class="text-muted" style="font-family:'Exo 2', sans-serif;">CEO, HyperLoop Lite, BMSCE</small>
                    <br>
                    <small class="text-muted">Front End UI/UX Developer</small>
                    <p class="mt-3 mb-4 text-muted">“It’s not a bug — it’s an undocumented feature.”</p>
                    <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 yellow-text">
                        <li><a href=""><i class="fab fa-twitter mx-2"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin-in mx-2"></i></a></li>
                        <li><a href=""><i class="fab fa-github mx-2"></i></i></a></li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

    {% endblock %}