{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- Carousel -->

<!-- stat images side by side and smaller with animation -->
<!-- replace with new cropped and space them a bit -->
<!-- all bg so to bg2 -->

<!-- Likhith -->
<!-- Logo, heading, fonts, few more backgrounds -->

<!-- <style>
  body{
      background-image: url('/static/bg2.jpg');
      background-position: center;
      overflow-x: hidden;
      background-size: contain;
      color: white;
  }
</style> -->
<!--
<br>
<br>
<br>

<h1 class="about-headings main-heading">HyperLoop Lite</h1> -->




<img src="../static/homeImage.jpg" style="display: block; width: 100%; height: 650px;" alt="main image">

<!-- <br>
<br>
<br>

<img src="../static/carousel/6.jpeg" style="display: block; width: 100%;" alt="cargo costs comparison"> -->

<br>
<br>
<br>

<!-- <img src="../static/carousel/7.jpeg" style="display: block; width: 100%;" alt="cargo days in transit comparison"> -->

<!-- New stuff -->

<div class="two-column">

  <div style="width: 50%;" class="animation-of-images">
    <img src="../static/carousel/7.jpeg" alt="cargo costs comparison" width="85%">
  </div>

  <div style="width: 50%;" class="animation-of-images">
    <img src="../static/carousel/6.jpeg" alt="cargo days in transit comparison" width="85%">
  </div>

</div>

<br>
<br>
<br>

<div class="two-column">

  <div style="width: 50%;">
    <h2 class="about-headings main-heading" style="font-family: 'Josefin Sans', sans-serif;">What is HyperLoop</h2>

    <br>

    <p class="about-body" style="font-family:'Exo 2', sans-serif;">Hyperloop is an ultra-high-speed ground transportation system for passenger and cargo proposed as a concept by Elon Musk, CEO of Tesla and SpaceX, in a white paper back in 2013.</p>
    <!-- <p class="about-body">The system consists of sealed and partially evacuated tubes, connecting mobility hubs in large metropolitan areas, and pressurized vehicles, usually called pods, which can move at very high speeds, thanks to contactless levitation and propulsion systems as well as to the low aerodynamic drag. With this system the door-to-door travel time on medium-range distances can be considerably reduced compared to current connections.&nbsp;</p>
    <p class="about-body">Moreover, with fully-electric operations the system aims at being climate-neutral.</p> -->
  </div>

  <div style="width: 50%;">
    <br>
    <img src="../static/images/tumhyperloop.jpg" alt="tum hyperloop" width="100%" class="animation-of-images">
  </div>

</div>

<!-- 3 images with text in three columns -->

<br>
<br>
<br>
<br>
<br>

<div class="two-column">

  <div class="animation-of-images">
    <img src="../static/images/img1.PNG" alt="first" width="85%">
  </div>

  <div class="animation-of-images">
    <img src="../static/images/img2.PNG" alt="second" width="85%">
  </div>

  <div class="animation-of-images">
    <img src="../static/images/img3.PNG" alt="third" width="85%">
  </div>

</div>

<br>
<br>
<br>

  <img src="../static/homepageextra.JPG" alt="our mission" width="100%">

<br>
<br>
<br>

<div>
  <h2 class="about-headings main-heading" style="font-family: 'Josefin Sans', sans-serif;">Terms and conditions</h2>
  <br>
  <br>
  <ol class="about-body" style="font-family:'Exo 2', sans-serif;">
    <li>The trip fare will cost Rs. 1.5 per KM + 18% Goods And Services Tax.</li>
    <li>If the ticket is cancelled, 50% of the cost of the ticket will be refunded to you.</li>
    <li>You will get a one-time sign up bonus of 10,000 credits in Hyperloop Lite wallet.</li>
    <li>No eatables allowed aboard the Hyperloop Pod.</li>
    <li>Passengers under the age of 18 must be accompanied by an adult.</li>
    <li>Stay clear of the doors after the warning beep.</li>
    <li>Download our Hyperloop App and show the booking details at the entrance.</li>
    <li>Passengers with epilepsy or other medical conditions must board the Hyperloop Pod with the consultation of a physician and at their own risk.</li>
  </ol>
</div>

<br>
<br>
<br>
{% endblock %}
